#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: aliceblue;
    border-bottom: 15px solid #ddd;
    border-radius: 4px;

}

#logo {
    margin: 0;
}

#nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 0.3s;
}
nav a:hover {
  background-color: #555;
  border-radius: 4px;
  color: aliceblue;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: azure;
    border-bottom: 15px solid #ddd;
}


img{
  height: 300px;
  width: auto;
  padding-top: 10px;
}

.box{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.projects{
  display: flex;
  font-size: 30px;
  flex-direction: column;
  font-weight: 5px;
  background-color: azure;
  font-family: Georgia, sans-serifD;
  align-items: flex-start;
}

p{
  display: flex;
  font-family: verdana, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

body{
  background-color: azure;
}